= index_header by_query_placeholder: t('folio.console.boutique.orders.index.by_query_placeholder'),
               right: cell('folio/console/boutique/orders/index/invoices_button'),
               filters_cancel_url: url_for([:console, @klass, tab: params[:tab]])

ruby:
  bl = -> (item, collection, i) do
    prev = collection[i - 1] # for i == 0 it goes to end of collection!

    if prev.blank? || prev.new_record?
      return
    else
      prev_day = prev.confirmed_at.try(:to_date)
      day = item.confirmed_at.try(:to_date)
      return if day.blank? || prev.blank?
      return if day == prev_day
      cell('folio/console/boutique/orders/index/summary',
           scope: @orders_scope,
           date: item.confirmed_at.to_date).show.try(:html_safe)
    end
  end

== cell('folio/console/boutique/orders/catalogue',
        @orders,
        before_lambda: bl)
