- right = render partial: "folio/console/boutique/orders/show_right_btn"
= show_header @order, right:

.row
  .col-lg-6.mb-5
    == cell("folio/console/boutique/orders/show_for_model", @order)

== cell("folio/console/addresses/show_for_model", @order)

= render partial: "folio/console/boutique/orders/show_bottom"
