= index_header

= catalogue(@vouchers)
  ruby:
    attribute :code
    edit_link :title

    if record.discount_in_percentages?
      attribute :discount do
        "#{record.discount} %"
      end
    else
      price(:discount)
    end

    attribute :use_count do
     if record.number_of_allowed_uses?
      "#{record.use_count} / #{record.number_of_allowed_uses}"
     else
      record.use_count
     end
    end

    published_toggle
    actions
