.f-c-b-orders-catalogue
  = catalogue(model, before_lambda: options[:before_lambda],
                     collection_actions: options[:collection_actions])
    ruby:
      show_link(:number)

      attribute(:user) do
        if record.user.present?
          link_to(record.user.email,
                  controller.folio.url_for([:console, record.user]))
        else
          record.email
        end
      end

      attribute(:line_items, small: true) do
        record.line_items.map do |line_item|
          content_tag(:div, class: "d-flex align-items-center") do
            label = [
              line_item.product_variant.product.to_console_label,
              line_item.product_variant.to_console_label,
            ].join("<br>")

            if record.gift?
              cell("folio/console/ui/with_icon",
                   label,
                   icon: :gift,
                   icon_options: { height: 16 }).show
            else
              label
            end
          end
        end.join(" ")
      end

      price(:total_price)

      date :confirmed_at
      date :paid_at

      state

      attribute(:invoice, compact: true) do
        if record.invoice_number?
          link_to(record.invoice_number,
                  controller.boutique.invoice_path(record.secret_hash),
                  target: "_blank")
        end
      end

      actions :show, :edit
