.f-c-b-orders-catalogue
  = catalogue(model, before_lambda: options[:before_lambda])
    ruby:
      attribute(:number)
      attribute(:email)

      attribute(:price) do
        price(record.total_price)
      end

      state

      date :confirmed_at
      date :paid_at

      actions :show, :edit
