.f-c-b-orders-catalogue
  = catalogue(model, before_lambda: options[:before_lambda])
    ruby:
      show_link(:number)
      attribute(:email)

      attribute(:line_items) do
        record.line_items.map(&:to_label).join(", ")
      end

      attribute(:price) do
        price(record.total_price)
      end

      state

      date :confirmed_at
      date :paid_at

      actions :show, :edit
