.f-c-b-orders-show-create-order-refund_button
  == cell('folio/console/ui/button',
          href: url,
          class: '.f-c-b-orders-show-create-order-refund_button-img',
          variant: :gray,
          label: t(".label"),
          icon: :arrow_u_left_top)
