.f-c-b-subscriptions-catalogue
  = catalogue(model, collection_actions: options[:collection_actions])
    ruby:
      attribute :product do
        record.product_variant.to_console_label
      end

      attribute :order do
        order = record.original_order
        if order.present?
          link_to(order.to_label, url_for([:console, order]))
        end
      end

      attribute :primary_address, small: true do
        if record.primary_address.present?
          record.primary_address.to_label
        end
      end

      attribute :active do
        record.active_range
      end

      attribute :cancelled_at do
        if record.cancelled_at?
          if record.cancelled_at == record.active_from
            t(".boutique/subscription.non_recurring_subscription")
          else
            l(record.cancelled_at, format: :short)
          end
        end
      end

      attribute nil, nil, compact: true, class_name: "actions" do
        a = [
          link_to("",
                  controller.folio.edit_console_user_subscription_path(record.user, record),
                  class: "btn btn-secondary fa fa-edit",
                  title: t("folio.console.actions.edit"))
        ]

        if record.cancelled_at.nil?
          a << link_to("",
                       controller.folio.cancel_console_user_subscription_path(record.user, record),
                       method: :delete,
                       class: "btn btn-danger fa fa-times",
                       title: t("folio.console.boutique.subscriptions.catalogue.cancel"),
                       data: {
                         confirm: t("folio.console.boutique.subscriptions.catalogue.cancel_confirm"),
                       })
        end

        additional_action = record.class.console_additional_index_action(record, self)
        if additional_action.present?
            a << link_to("",
                         additional_action[:url],
                         title: t("folio.console.actions.#{additional_action[:name]}}"),
                         class: "btn btn-light fa fa-#{additional_action[:icon]}")
        end

        content_tag(:div, class: "f-c-index-actions") do
          a.join
        end
      end
