.f-c-b-subscriptions-catalogue
  = catalogue(model, collection_actions: options[:collection_actions],
                     hide_user: options[:hide_user])
    ruby:
      show_link :number

      unless options[:hide_user]
        attribute(:user) do
          if record.user.present?
            link_to(record.user.email,
                    controller.folio.url_for([:console, record.user]))
          else
            record.email
          end
        end
      end

      attribute :product do
        record.product_variant.to_console_label
      end

      date :active_from
      date :active_until
      date :cancelled_at

      attribute :state do
        if record.active?
          record.class.human_attribute_name("state/active")
        else
          record.class.human_attribute_name("state/inactive")
        end
      end

      toggle :email_notifications

      actions(:show, :edit)
