.f-c-b-order-refunds-catalogue
  = catalogue(model, before_lambda: options[:before_lambda],
                     new_button: false,
                     collection_actions: options[:collection_actions])
    ruby:
      show_link(:to_label)

      attribute(:order) do
        link_to(record.order.number,
                controller.folio.url_for([:console, record.order]))
      end

      attribute(:user) do
        if record.user.present?
          link_to(record.user.email,
                  controller.folio.url_for([:console, record.user]))
        else
          record.email
        end
      end

      price(:total_price)

      attribute(:payment_method_label)

      date :created_at
      date :approved_at
      date :paid_at

      state

      attribute(:corrective_tax_document, compact: true) do
        if record.document_number?
          link_to(record.document_number,
                  controller.boutique
                            .corrective_tax_document_path(record.secret_hash),
                  target: "_blank")
        end
      end

      actions :show, :edit
