= index_header

= catalogue(@shipping_methods)
  ruby:
    edit_link(:title)

    type

    attribute(:price) do
      price(record.price)
    end

    published_toggle

    position_controls

    actions
