.f-c-b-order-refunds-index_corrective_tax_documents_button
  == cell('folio/console/ui/button',
          href: url,
          class: 'f-c-b-order-refunds-index-corrective_tax_documents_button-img',
          variant: :gray,
          label: t(".label"),
          icon: :file_document)

