== cell('boutique/orders/edit')

== cell('boutique/orders/edit/shipping_methods/zasilkovna/pickup_point', nil).render(:_modal)
- content_for :javascripts
  script src="https://widget.packeta.com/v6/www/js/library.js"
