.b-checkout-cart-shipping-methods
  border-top: 1px solid $beige

  &__option
    border-bottom: 1px solid $beige
    padding-top: px-to-rem(15px)
    padding-bottom: px-to-rem(15px)

  &__option-input
    accent-color: $black

  &__option-label
    font-size: $font-size-base!important
    font-weight: $font-weight-bold

  &__option-price
    float: right
