.b-orders-edit
  &--refreshing
    .b-orders-edit-sidebar-bottom,
    .b-orders-payment-methods-price
      opacity: 0.15
      cursor: wait

  &__box
    background: $white
    padding: $grid-gutter-half
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1)
    margin: 20px (( - $grid-gutter-half ))
    position: relative

    &:last-child
      margin-bottom: 0

    .f-addresses-fields
      margin: 0

    +media-breakpoint-up(md)
      padding: $grid-gutter-width
      margin: 35px 0

    +media-breakpoint-up(xl)
      padding: 40px

  &__product-variant-description
    margin: 20px 0

  &__box-inner
    max-width: $folio-addresses-fields-max-width

    &--wide
      max-width: 100%

  &__payment
    margin-top: $grid-gutter-width

  +mq-desktop-menu
    &__grid
      display: grid
      grid-template-columns: 1fr percentage(390/1320)

    &__cell--main,
    &__cell--bottom
      min-width: 0
      margin-right: $grid-gutter-width
      grid-column: 1

      +media-breakpoint-up(xl)
        margin-right: 2 * $grid-gutter-width

    &__cell--main
      grid-row: 1

    &__cell--bottom
      grid-row: 2

    &__cell--aside
      grid-row: span 2
      grid-column: 2
      max-width: 390px

  +mq-mobile-menu
    &__col--main
      margin-bottom: $grid-gutter-width
