.b-orders-edit
  &--refreshing
    .b-orders-edit-sidebar-bottom,
    .b-orders-payment-methods-price
      opacity: 0.15
      cursor: wait

  &__flex
    display: flex

  &__box
    background: $white-beige
    padding: $grid-gutter-half
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1)
    margin: 20px 0
    position: relative
    border-radius: 15px

    &:last-child
      margin-bottom: 0

    .f-addresses-fields
      margin: 0

    .form-control
      background: none !important
      padding: 9px 13px

    .form-group
      margin-bottom: px-to-rem(30px)

      label
        margin-bottom: px-to-rem(10px)

    .f-addresses-fields
      h3,
      &__fields-wrap
        max-width: $folio-addresses-fields-max-width

      .row
        max-width: $folio-addresses-fields-max-width + $grid-gutter-width

      .f-togglable-fields__label
        cursor: pointer

  &__product-variant-description
    margin: 20px 0

  &__box-inner
    max-width: $folio-addresses-fields-max-width

    &--wide
      max-width: 100%

  &__payment
    margin-top: $grid-gutter-width

  &__email-input
    max-width: 320px

    label
      +font-size-base
      font-weight: $font-weight-bold

  .f-togglable-fields
    &__label
      +font-size-sm
      display: block
      width: 100%
      padding: 12px 16px
      padding-left: 40px
      background: $lite-beige
      border-radius: 30px
      margin-bottom: 0

    &__input
      margin-top: 0.85rem
      margin-left: 1.1rem

    &__content
      margin-top: $grid-gutter-width

  +media-breakpoint-up(md)
    &__box
      padding: $grid-gutter-width
      margin: 30px 0
      border-radius: 30px

  +mq-desktop-menu
    padding-bottom: map-get($spacers, gg)

    &__col--main
      flex: 1 1 auto
      min-width: 0
      margin-right: $grid-gutter-width

    &__col--aside
      flex: 0 0 390px
      max-width: 33%

    &__payment
      margin-top: map-get($spacers, s)

    &__recurrency-fields
      margin-top: $grid-gutter-width

  +media-breakpoint-up(xl)
    &__col--main
      margin-right: 2 * $grid-gutter-width

    &__box
      padding: 30px 35px

  +mq-mobile-menu
    padding-bottom: map-get($spacers, s)

    &__flex
      flex-direction: column

    &__col--aside
      order: -1
      margin-bottom: 35px

    &__recurrency-fields
      margin-top: 20px

  +media-breakpoint-down(sm)
    &__box
      margin: 15px -5px

    &__addresses-fields
      margin-bottom: $grid-gutter-width

    &__voucher-fields
      margin-bottom: 10px
