.b-orders-edit
  &__box
    background: $white
    padding: $grid-gutter-half
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1)
    margin: 20px (( - $grid-gutter-half ))
    position: relative

    &:last-child
      margin-bottom: 0

    .f-addresses-fields
      margin: 0

    +media-breakpoint-up(md)
      padding: $grid-gutter-width
      margin: 35px 0

    +media-breakpoint-up(xl)
      padding: 40px

  &__box-inner
    max-width: $folio-addresses-fields-max-width

    &--wide
      max-width: 100%

  &__disclaimer
    margin: $grid-gutter-half 0

  +mq-desktop-menu
    &__flex
      display: flex

    &__col--main
      flex: 1 1 auto
      min-width: 0
      margin-right: $grid-gutter-width

      +media-breakpoint-up(xl)
        margin-right: 2 * $grid-gutter-width

    &__col--aside
      flex: 0 0 390px
      max-width: 33%

  +mq-mobile-menu
    &__col--main
      margin-bottom: $grid-gutter-width
